@inherits ProElection.Shared.ComponentBases.CheckAuthentication
@page "/admin"

<h1 class="app-title">Admin</h1>

<div>
    <input type="button" value="Add Election"/>
    <input type="button" value="Add Candidate"/>
</div>
