@page "/"
@using ProElection.Entities

<PageTitle>ProElection</PageTitle>

<div class="page-container">
    <div class="black-half half">
        <h1 class="app-title">Pro Election</h1>
            @if (_signUpEnabled == false)
            { 
                <form class="middle-form" @onsubmit="AttemptSignIn">
                    <h2 class="blue-text">Sign In</h2>

                    <ValidatedInput
                        TEntity="User"
                        Entity="_user"
                        PropertyName="@nameof(User.Email)"
                        ValidationContext="_userContext">
                        <label>
                            Email: <input type="email" @bind="_user.Email"/>
                        </label>
                    </ValidatedInput>

                    <ValidatedInput
                        TEntity="User"
                        Entity="_user"
                        PropertyName="@nameof(User.HashedPassword)"
                        ValidationContext="_userContext">
                        <label>
                            Password: <input type="password" @bind="_user.HashedPassword"/>
                        </label>
                    </ValidatedInput>

                    <label class="blue-text">
                        <input type="submit" value="Sign In"/>
                    </label>
                    
                    <p class="blue-text pointer" @onclick="() => _signUpEnabled = true">Dont have an account?</p>
                </form>
            }
            else
            {
                <AddUser
                    Label="Sign Up"
                    Class="middle-form"
                    OnUserCreated="CreateUser"
                    />
            }
                
    </div>
    <div class="blue-half half">
        <form class="middle-form">
            <h2>Already have a code?</h2>
            
            <label>
                Code: <input placeholder="XXXX-XXXX-XXXX-XXXX"/>
            </label>
            
            <label>
                <input type="submit" value="Vote"/>
            </label>
        </form>
    </div>
</div>