@page "/sign-in"

<PageTitle>Sign In</PageTitle>

<CentredBoxWithTitle Header="Sign In">
    <form>
        <ValidatedInput
            LabelName="Email"
            InputType="InputType.Email"/>
        <ValidatedInput
                    LabelName="Password"
                    InputType="InputType.Password"/>
    </form>
    <button @onclick="@(() => _navigationManager.NavigateTo("sign-up"))">Sign Up</button>
</CentredBoxWithTitle>