@page "/sign-in"

<PageTitle>Sign In</PageTitle>

<div class="box-border absolute-center middle-container stack-align-items">
    <h1>Sign In</h1>
    <form>
        <ValidatedInput></ValidatedInput>
    </form>
    <button>Sign Up</button>
</div>