@inherits LayoutComponentBase

// Prevents CSS Caching
<link href=@($"css/site.css?version={DateTimeOffset.Now:yyMMdd hhmmss}") rel="stylesheet"/>
<link href=@($"ProElection.styles.css?version={DateTimeOffset.Now:yyMMdd hhmmss}") rel="stylesheet"/>

<PageTitle>ProElection</PageTitle>

<div class="page">
    <main>
        @Body
    </main>
</div>