@typeparam TEntity

<div class="wrapper">
    <label class="inline">
        <span class="label-name space-to-vacate">@LabelName:</span> 
        <input class="label-input space-to-vacate" type="@(InputType.ToString().ToLower())"/>
    </label>
    @if (string.IsNullOrWhiteSpace(_error) == false)
    {
        <p class="error-message">_error</p>  
    }
</div>
